/* IM Assignment 2: a love letter. (CSS) */
/* Joseph Hong */
/* Description: this is the stylesheet for the interactive comic 'a love letter.' */
/* ============================================================================================= */
/* ============================================================================================= */
/* Initialization */

/* Variables */
:root * {
    --scroll: 0;

    --imgPanelWidth: 100;
    --txtPanelWidth: 50;
    --quarterGutterWidth: 25;
    --halfGutterWidth: 50;
    --fullGutterWidth: 100;

    --imgPanelCount: 8;
    --txtPanelCount: 24;
    --quarterGutterCount: 5;
    --halfGutterCount: 17;
    --fullGutterCount: 13;

}

/* Hide Scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* HTML. Vertical overflows are hidden. */
html {
    overflow-y: hidden;
}

/* Body. Possibility to change background color on scroll. */
body {
    padding: 0;
    margin: 0;
    background-color: blanchedalmond;
    font-family: 'Nothing You Could Do', cursive;
    /* background-color: rgb(calc(var(--scroll)/18),calc(var(--scroll)/18),calc(var(--scroll)/18)); */
}

/* ============================================================================================= */
/* ============================================================================================= */
/* Fixed Elements */

/* Paper Plane */
#paperPlane {
    height: 75px;
    width: 150px;
    position: fixed;
    top: 30%;
    left: 40%;
    margin-top: -25px;
    margin-left: -50px;
    transform: translateY(-50%);
    animation: shudder 100s infinite alternate;
    animation-fill-mode: forwards;
    z-index: 1;

}
@keyframes shudder{
    0%{
        transform: rotate(-2deg);
    }
    20%{
        transform: rotate(1deg);
    }
    40%{
        transform: rotate(0deg);
    }
    60%{
        transform: rotate(3deg);
    }
    80%{
        transform: rotate(1deg);
    }
    100%{
        transform: rotate(-1deg);
    }
}

/* Instruction (Scroll to Begin) */
#instruct {
    position: fixed;
    top: 50%;
    right: 5%;
    color: gray;
    animation: pulsate 2s infinite;

}
@keyframes pulsate {
    50% {
      text-shadow: 0 0 1px gray;
    }
}

/* Gutters for Navigation Area. Only appear at beginning and end. */
.navGutter {
    height: 10vh;
    width: 100vw;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(241, 212, 168);
}
#gutter1 {
    top: 0;
    font-size: 3vh;
}
@keyframes moveUp1 {
    from{
        margin-top: 0;
    }
    to{
        margin-top: -10vh;
    }
}
@keyframes moveDown1 {
    from{
        margin-top: -10vh;
    }
    to{
        margin-top: 0;
    }
}
#gutter2 {
    bottom: 0;
}
@keyframes moveUp2 {
    from{
        margin-bottom: -10vh;
    }
    to{
        margin-bottom: 0;
    }
}
@keyframes moveDown2 {
    from{
        margin-bottom: 0;
    }
    to{
        margin-bottom: -10vh;
    }
}

/* Overlay the navGutter. Contains elements used for navigation of comic. */
#navi {
    position: fixed;
    display: flex;
    height: 10vh;
    width: 100vw;
    bottom: 0;
    align-items: center;
    justify-content: space-evenly;

}
/* Navigation Buttons. Restart, autoscroll, next 1/2vw. */
.navButton {
    display: inline-block;
    cursor: pointer;
    color: gray;
}
.navButton:hover{
    opacity: 0.5;
}
#epil {
    display: none;
}

/* Afterwards */
.epilogue {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    background-image: url("oakboard.jpg");
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: space-evenly;
}
/* Row of Polaroids */
.epilogue .row {
    display: flex;
    height: 40%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
/* Polaroids */
.epilogue img {
    display: inline-block;
    width: 180px;
    height: 160px;
    padding: 10px;
    padding-bottom: 50px;
    background-color: rgb(228, 224, 224);
    opacity: 0;
}


/* ============================================================================================= */
/* ============================================================================================= */
/* Main Scrollable Elements */

/* Outer Wrapper. Holds the elements in a flex so that horizontal view is possible. */
#outerWrapper {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    height: 100vh;
    width: var(--wrapperWidth);
    align-items: center;
    justify-content: space-evenly;
    scroll-behavior: smooth;
}

/* Gutters (full, half, quarter). Give space between text and image panels. */
.gutterFull{
    display: inline-block;
    height: 100vh;
    width: calc(var(--fullGutterWidth) * 1vw);
}
.gutterHalf{
    display: inline-block;
    height: 100vh;
    width: calc(var(--halfGutterWidth) * 1vw);
}
.gutterQuarter{
    display: inline-block;
    height: 100vh;
    width: calc(var(--quarterGutterWidth) * 1vw);
}

/* Text Divs (Isolated Text Boxes). Divided into top, middle, and bottom based on alignment. */
.txtPanel {
    height: 100vh;
    width: calc(var(--txtPanelWidth) * 1vw);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    font-family: 'Nothing You Could Do', cursive;
}
.top {
    align-items: flex-start;
}
.middle {
    /* default is center aligned */
}
.bottom{
    align-items: flex-end;
}
.textBox {
    height: 200px;
    width: 200px;
    padding: 5%;
    display: flex;
    text-align: left;
    background-color: wheat;
    justify-content: center;
    align-items: center;
}
.top .textBox {
    top: 0;
    margin-top: 20%;
}
.middle .textBox {
    margin: 0;
}
.bottom .textBox {
    bottom: 0;
    margin-bottom: 20%;
}


/* Image Panels. Take up the entire div, but images are smaller. Centered in screen. */
.imgPanel {
    display: flex;
    height: 100vh;
    width: calc(var(--imgPanelWidth) * 1vw);
    justify-content: center;
    align-items: center;
    opacity: 0;
}
#panelInitial {
    opacity: 1;
}
.panelImg {
    display: flex;
    position: absolute;
    border:black;
    background-color: burlywood;
    height: 720px;
    width: 1080px;
}
.imgTextLeft {
    position: absolute;
    display: block;
    margin:2%;
    padding: 10px;
    height: 50px;
    width: 200px;
    background-color: wheat;
    top: 0;
    left: 0;
    text-align: center;
}
.imgTextRight{
    position: absolute;
    display: block;
    margin: 3%;
    padding: 10px;
    height: 50px;
    width: 200px;
    background-color: wheat;
    bottom: 0;
    right: 0;
    text-align: center;
}

/* ============================================================================================= */
/* ============================================================================================= */
