---
title: footer
---

<footer>
  <h2 class="sr-only">{{#i18n "footerxh1"}}{{/i18n}}</h2>
  <!-- Follow - Twitter, Instagram, Discord -->
  <div class="footer-container">
    <h3>Follow Us</h3>
    <div class="sms-icon-container">
      <a class="sms-icon" href="https://discord.com/invite/SHQ8dH25r9"><i class='fab fa-discord' style='font-size:40px'></i></a>
      <a class="sms-icon" href="https://twitter.com/p5xjs"><i class='fab fa-twitter' style='font-size:40px'></i></a>
      <a class="sms-icon" href="https://www.instagram.com/p5xjs/"><i class='fab fa-instagram' style='font-size:40px'></i></a>
    </div>
  </div>
  <!-- Credits Container -->
  <div class="footer-container">
    <!-- <h2 class="sr-only">{{#i18n "footerxh1"}}{{/i18n}}</h2> -->
    <h3>About Us</h3>
    <p>
      {{#i18n "footer1"}}{{/i18n}}<a href='http://qianqian-ye.com/' target="_blank">Qianqian Ye
      </a>{{#i18n "footer4"}}{{/i18n}}<a href='http://www.outofambit.com/' target="_blank">evelyn masso
      </a>{{#i18n "footer2"}}{{/i18n}}<a href='http://lauren-mccarthy.com' target="_blank">Lauren Lee
      McCarthy</a>. p5.js is developed by a community of collaborators.
    </p>
  </div>
  <!-- Contact -->
  <div class="footer-container">
    <h3>Contact Us</h3>
    <p>
    Any questions?
    <a href="">Let us know!</a>
    </p>
  </div>
</footer>