:root {
    /* as the user gets closer to the end, the text color darkens (js) */
    --textColor: 255;
}

div {
    box-sizing: border-box;
}

.outer_wrapper {
    /* starts the page at the borders of the screen */
    top: 0;
    left: 0;
    margin: 5;
    padding: 0;
    /* fills entire visible screen */
    width: 100vh;
    height: 100vw;
    /* translation meant for horizontal scrolling. basically, you're rotating the page (which is
    meant to be scrolled down) and then rotating back the elements in this wrapper to make them
    right-side-up.  */
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
}

/* navigation triangle (still figuring this out) */
#triangle-right {
    position: fixed;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid red;
    border-bottom: 50px solid transparent;
}

.inner_wrapper {
    /* creates seamless transition between inner elements */
    display: flex;
    flex-direction: row;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    /* width of inner wrapper = # of slides * 100 */
    height: 100vh;
    width: 350vw;
    /* gradient background */
    background-image: linear-gradient(to right, black, black, rgb(30, 30, 30), rgb(90, 90, 90), white, white);
}

.navigation_screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

}


.titleScreen {
    /* centering the text on the screen */
    margin: auto;
    padding: 10px;
    width: 100vw;
    height: 100vh;
}

.titleScreenTitle {
    color: rgb(var(--textColor),var(--textColor),var(--textColor));
    top: 25vh;
    left: 25vw;
    font-family: Helvetica;
    font-weight: lighter;
    text-align: center;
    font-size: 10vw;
    transition: 1s;
    position: fixed;
}

.titleScreenTitle:hover{
    text-align: center;
    top: 20vh;
    left: 20vw;
    font-size: 15vw;
}

#mainMovie {
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100vw;
}

.subScreen {
    width: 50vw;
    height: 100vh;
}

.subScreenTitle {
    color: rgb(var(--textColor),var(--textColor),var(--textColor));
    font-family: Helvetica;
    margin: 3vw;
    font-weight: normal;
}

.descriptionBlock {
    display: block;
    width: 25vw;
    height: 50vh;
}

.description {
    color: rgb(var(--textColor),var(--textColor),var(--textColor));
    margin: 3vw;
    font-family: Helvetica;
}

.descriptionSubtitle {
    color: rgb(var(--textColor),var(--textColor),var(--textColor));
    font-family: Helvetica;
    font-size: large;
}

.descriptionText {
    line-height: 1.2;
}

::-webkit-scrollbar {
    display: none;
}