<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="p5.js a JS client-side library for creating graphic and interactive experiences, based on the core principles of Processing.">
  <title tabindex="1">home | p5.js</title>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="style.css">
</head>
<body>
  
  <div id="home-page">
    <!-- Navigation -->
    {{> sidebar}}
    
    <!-- To Top Button -->
    <div id="toTop">
      <div><i class="arrow up"></i></div>
    </div>
    
    <div class="column-span">
      <!-- Main Page -->
      <main id="content" class="home">
        <header class="homeScreen">
          <div class="blurScreen">
            <span class="homeScreenText">
              <h1 class="homeScreenHeader">Hello!</h1>
              <p style="margin-top:1em">p5.js is a JavaScript library for creative coding, with a focus on making coding accessible and inclusive for artists, designers, educators, beginners, and anyone else! p5.js is free and open-source because we believe software, and the tools to learn it, should be accessible to everyone.</p>
              <div class="buttonSelect">
                <div id="startCoding">Start Coding</div>
                <div id="learnMore">Learn More</div>
              </div>
            </span>
          </div>
          <iframe src="" frameborder="0"></iframe>
        </header>
        
        <div class="textContent">
          <h2>About p5.js</h2>
          <p>Using the metaphor of a sketch, p5.js has a full set of drawing functionality. However, you’re not limited to your drawing canvas. You can think of your whole browser page as your sketch, including HTML5 objects for text, input, video, webcam, and sound.</p>
          <p><a href="https://showcase.p5js.org">Check out the new p5.js 2020 showcase!</a></p>
          
          <h2>Community</h2>
          <p>We are a community of, and in solidarity with, people from every gender identity and expression, sexual orientation, race, ethnicity, language, neuro-type, size, disability, class, religion, culture, subculture, political opinion, age, skill level, occupation, and background. We acknowledge that not everyone has the time, financial means, or capacity to actively participate, but we recognize and encourage involvement of all kinds. We facilitate and foster access and empowerment. We are all learners.</p>
          <p>p5.js is an interpretation of <a href="https://processing.org"
            target="_blank">Processing</a> for today’s web. We hold events and operate with support from the <a href="https://processingfoundation.org"
            target="_blank">Processing Foundation</a>.
          </p>
          <p>Learn more about <a href="community/">our community</a>.</p>
          
          <h2>Get Started</h2>
          <p>Make your first sketch in the <a href="https://editor.p5js.org" target="_blank">p5.js
            Editor</a>. Learn more about sketching with p5.js on the <a
            href="get-started/">Get Started page</a> and everything you can do in the <a
            href="reference/">Reference</a>.
          </p>
          
          <h2>Get Involved</h2>
          <p>There are many ways to contribute to p5.js:</p>
          <!-- <h2 id="involvement-options" class="sr-only">Involvement Options</h2> -->
          <ul aria-labelledby="involvement-options" class="list_view bullets">
            <li><a href="https://forms.gle/pux9YNoYWPpTsZtn8">Share something you've made!</a></li>
            <li><a href="/teach">Teach a workshop or class.</a></li>
            <li><a href="https://day.processing.org" target="_blank">Organize a meet-up.</a></li>
            <li><a href="https://github.com/processing/p5.js/tree/main/contributor_docs"
              target="_blank">Contribute to the codebase.</a></li>
            </ul>
            
          </div>
          
          
          
        </main>
        
        <footer>footer goes here</footer>
        
      </div>  <!-- end column-span -->
      
      <script>
        $("#scrollDown").click(function(){
          const vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0)
          const vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0)
          window.scrollTo(0, 1.1*vh);
        });
        
        $(window).scroll(function(){
          if(document.documentElement.scrollTop > 0){
            const vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0)
            const vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0)
            $("#navBar").css({"animation":"slideDown 1s forwards"});
            $("#toTop").css({"opacity":"1"});
            document.getElementById("navBar").style.height = "8vh";
            document.getElementById("navBar").style.boxShadow = "0 0 4px black";
          }
          else{
            $("#navBar").css({"animation":"slideUp 1s forwards"});
            $("#toTop").css({"opacity":"0"});
            document.getElementById("navBar").style.height = "10vh";
            document.getElementById("navBar").style.boxShadow = "0 0 2px black";
          }
        });
        
        // makes sure that random page is not the current page
        $(function(){
          var num = Math.floor(Math.random()*4);
          $("#explore").attr("href", "/assignment5/project"+ String(num)+".html");
        });
        
        
        document.addEventListener('mousemove', (event) => {
          if(document.documentElement.scrollTop == 0 && event.clientY < 100){
            $("#navBar").css({"animation":"slideDown 1s forwards"});
          }
          else if(document.documentElement.scrollTop == 0 && event.clientY > 300){
            $("#navBar").css({"animation":"slideUp 1s forwards"});
          }
        });
        
        $("#toTop").click(function(){
          window.scrollTo(0, 0);
        });
      </script>
      
    </body>
    </html>