/* p5.js Website Design (Proposal) CSS */
/* Joseph Hong */

/* ==================================================================== */
/* ==================================================================== */
/* Initial */

:root {
    /* height of external navbar, in vh */
    --externalNavBarHeight: 5;
    /* height of navbar, in vh */
    --navBarHeight: 12;
    /* width of navbar, in vw */
    --navBarWidth: 75;

    --marginTop: calc( (var(--externalNavBarHeight)+var(--navBarHeight)) );
}

html {
    scroll-behavior: smooth;
}

body {
    display: block;
	height: fit-content;
    margin: 0 0 0 0;
    font-family: 'Montserrat' ,sans-serif;
    letter-spacing: .5px;
    line-height: 24px;
    background-color: white;
}

h1 {
    font-family: 'Montserrat' ,sans-serif;
	display: block;
    background: white;
    width: 70vw;
    margin: auto;
    margin-top: 30px;
	padding: 20px;
	text-align: center;
}

a:link, a:visited {
    color: #ed225d;
    text-decoration: none;
}
/* ==================================================================== */
/* ==================================================================== */



/* ==================================================================== */
/* ==================================================================== */
/* Navigation */

.full-navigation {
    position: fixed;
    z-index: 5;
    background: white;
}

/* External Navigation */
#external-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: calc(var(--externalNavBarHeight)*1vh);
    max-height: 50px;
    width: 100vw;
    background: white;
    border-bottom: 1px solid rgb(155, 155, 155);
    font-size: calc(6px + 0.5vw);
    transition: ease-in-out 0.2s;
    z-index: 6;
}

#family {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 80%;
    overflow: none;
    margin: 0;
    z-index: inherit;
  }

#processing-sites {
    display: flex;
    padding: 0;
    margin: 0;
  }

  #processing-sites li {
    list-style: none;
    display: inline-block;
    margin: 0 0.35em;
  }
  #processing-sites li:first-child {
    margin-left: 2em;
  }
  #processing-sites li:last-child {
    float: right;
    margin-right: 2em;
  }

/* i18n */
#i18n-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    color: #ed225d;
    width: fit-content;
    max-width: 20%;
    height: 100%;
    user-select: none;
    cursor: pointer;
    z-index: inherit;
}
#currentLang {
    text-align: center;
    width: 100%;
    font-size: calc(6px + 0.5vw);
}

#currentLang:hover {
    color: rgb(155, 155, 155);
}
.langSelect {
    display: none;
}
#i18n-btn:hover .langSelect {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: white;
    width: fit-content;
    padding: 10px 10px;
    margin: 0 -10px;
}
#i18n-buttons li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0 0 5px 0;
    
}
#i18n-buttons li a {
    text-align: left;
}
#i18n-buttons li a:hover{
    color: #ed225d;
}
#i18n-btn a {
    border: none;
    outline: none;
    font-size: calc(6px + 0.5vw);
    color: #696969;
    text-align: left;
}
#i18n-btn a:hover {
color: #ed225d;
}
#i18n-btn a.disabled {
color: #ed225d;
cursor: default;
}

/* Internal Site Navigation */
.internal-navigation {
    position: relative;
    background-color: white;
    height: calc(var(--navBarHeight)*1vh);
    max-height: 100px;
    min-height: 70px;
    width: 100vw;
    border-bottom: rgb(225, 225, 225) 1px solid;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: width 0.2s, height 0.3s;
}
.topnav {
    position: static;
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    top: 0;
    height: 100%;
    /* max-height: 75px; */
    width: calc(var(--navBarWidth)*1vw);
    /* width: fit-content; */
    max-width: 1080px;
    z-index: inherit;
    
}
/* p5.js Logo (Doubles as Home) */
.logoLink {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    margin-right: 13px;
    padding: 0!important;
}
#logo {
    height: 50%;
    width: auto;
    padding: 0;
}

#onlineEdit {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    margin-right: 8px;
    margin-left: 8px;
    height: 50%;
    padding: 0 10px;
    background-color: #ed225d;
    color: white;
    border-radius: 5pt;
}
#onlineEdit:hover{
    background-color: #da195c;
    color: white;
}

.pageNavigation {
    position: static;
    display: flex;
    height: inherit;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 8px;
    padding: 0;
}
.navItem {
    height: 100%;
    list-style: none;
    user-select: none;
    position: static;
}
.navItem a {
    display: flex;
    height: inherit;
    width: 100%;
    align-items: center;
    color: #ed225d;
    font-size: 1.2em;
    padding: 0 20px;
    line-height: 24px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.navItem a:hover{
    color: rgb(155, 155, 155);
}
/* Dropdown Menus */
.dropdown{
    position: absolute;
    flex-direction: column;
    align-items: baseline;
    left: 0;
    right: 0;
    width: 100vw;
    padding: 30px 0;
    height: 15vh;
    min-height: 200px;
    border-top: rgb(225, 225, 225) 1px solid;
    background-color: rgba(255, 255, 255);
    display: none;
}
.dropdownContent {
    background: white;
    position: relative;
    height: 100%;
    width: calc(var(--navBarWidth)*1vw);
    max-width: 1080px;
    list-style: none;
    margin: auto;
    padding: 0;
}
.dropdown a {
    width: 100%;
    padding: 0 calc(var(--navBarHeight)/100*1vh) 10px;
    background: white;
}
.dropdownText {
    color: black;
    background: white;
    position: absolute;
    right: 0;
    top: -1px;
    bottom: 0;
    margin-left: calc((1/4)*100%);
    height: 100% + 2px;
    width: calc((3/4)*100% + 2px);
    display: none;
    padding: 0;
}
.dropdownTextDefault {
    color: black;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: calc((1/4)*100%);
    height: 100%;
    width: calc((3/4)*100%);
    display: block;
    padding: 0;
}
.dropdownTextDefault .pageName,.pageName {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: calc(12px + 1vw);
    background: white;
}
.dropdownTextDefault .pageDescription, .pageDescription {
    font-size: calc(12px + 0.5vw);
    background: white;
}

/* .dropdownContent:hover .dropdownTextDefault {
    display: none;
} */
/* When hovering over 'main' nav link, sublinks appear in dropdown */
.navItem:hover .dropdown, .navLink:hover > .dropdownText{
    display: flex;
}
.navItem:hover .navLink{
    color: rgb(155, 155, 155);
}
/* When hovering over sublink in dropdown, description will appear */
.innerNav:hover .dropdownText {
    display: block;
}

/* to top button */
#toTop{
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-self: center;
    width: calc(30px + 1vh);
    height: calc(30px + 1vh);
    background-color: white;
    border-radius: 100%;
    bottom: 3vh;
    right: 5vh;
    cursor: pointer;
    transition: 0.5s ease;
    border: 1px rgb(225, 225, 225) solid;
    opacity: 0;
}
/* arrow */
.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #ed225d;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 1vh;
  }
/* .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
} */
.up {
    transform: rotate(225deg) translateY(-1vh) translateX(-1vh);
}

/* ==================================================================== */
/* ==================================================================== */
/* Footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px 0;
    padding: 25px 0 10px;
    height: fit-content;
    min-height: 200px;
    width: 100vw;
    border-top: #ed225d 1px dashed;
    background-color: white;
}

.footer-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 20px;
}
.footer-container h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}
.footer-container p {
    text-align: center;
    font-size: calc(10px 0.5vw);
    margin: 0;
}
.footer-container div {
    padding: 10px;
}
.sms-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sms-icon i{
    height: 40px;
    width: 40px;
    padding: 10px;
}

/* ==================================================================== */
/* Home */
.homeScreen{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    min-height: 50vh;
    user-select: none;
}
.homeScreen .blurScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 400px;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.598);
}
.homeScreen iframe{
    overflow: hidden;
    position: absolute;
    margin: 0;
    width: 99%;
    height: 99%;
    min-height: 400px;
    background: transparent;
    top: 0;
    left: 0;
    z-index: -1;
}
.homeScreenText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto 0;
    margin-top: calc((var(--navBarHeight) + var(--externalNavBarHeight)) *1vh + 50px);
    margin-bottom: 50px;
    width: 50vw;
    padding: 30px;
    border-radius: 10pt;
    max-width: 1080px;
    z-index: 0;
    background: white;
}
.homeScreenHeader{
    background: transparent;
    margin: 0;
    width: 100%;
    text-align: left;
    /* text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; */
    color: #ed225d;
}
.homeScreen h1 {
    padding: 15px 5px;
    font-size: calc(30px + 0.5vw);
}
.homeScreen p {
    /* text-align: justify; */
    font-size: calc(14px + 0.5vw);
    line-height: calc((14px + 0.5vw)*1.5);
    padding: 10px;
}
.buttonSelect {
    display: flex;
    justify-content: flex-start;
    right: 0;
    width: fit-content;
    padding: 0 10px;
}
.buttonSelect div {
    padding: 10px;
    cursor: pointer;
}
.buttonSelect p {
    margin: 0 0 0 10px;
    padding: 10px;
}
#startCoding {
    display: flex;
    flex: 0 0 auto;
    padding: 0 10px 0;
    align-items: center;
    color: #ed225d;
    background: white;
    border: 1px #ed225d solid;
    border-radius: 5px;
    transition: 0.5s;
}
#startCoding:hover {
    color: white;
    background: #da195c;
}
#learnMore {
    color: black;
    text-decoration: underline;
}
/* Text Content */
.textContent {
    position: relative;
    display: block;
    width: calc(var(--navBarWidth)*1vw);
    max-width: 1080px;
    padding: 10px;
    margin: 50px auto 0;
    z-index: 0;
}
.column-span {
    width: 100%;
}
.column-span h2 {
    font-size: 1.6em;
    margin-top: 50px;
}
.textContent p {
    font-size: 1.2em;
}

/* ==================================================================== */
/* ==================================================================== */
/* Smaller Screens (Mobile) */
.mobileOnly {
    display: none;
}
#drpBtn {
    display: none;
}

#drpBtn a:hover {
    color: #ed225d!important;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1000px) {
    #external-nav {
        justify-content: flex-end;
        z-index: 6;
    }

    #currentLang {
        font-size: 2em;
    }

    #currentLang:hover {
        color: #ed225d
    }

    #i18n-buttons a{
        font-size: 1em;
    }

    #logo {
        padding-left: 20px;
    }
    .pageNavigation{
      display: none;
    }
    .topnav {
        width: 100%;
        justify-content: space-between;
        border-bottom: none;
    }
    #onlineEdit, #learnMore{
        display: none;
    }
    .buttonSelect {
        margin: auto;
    }
    .buttonSelect #startCoding {
        margin: auto;
        padding: 10px;
    }
    #drpBtn {
      float: right;
      display: block;
      font-size: 1.5em;
      color: #ed225d!important;
    }
    #drpBtn a{
        text-decoration: none!important;
    }
    .innerNav:hover .dropdownText {
        display: none;
    }
  }

@media screen and (max-width: 1000px) {
    .homeScreenText{
        align-items: center;
    }
    .footer-container {
        width: 50%;
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
}

/* navigation screen (mobile, when clicked) */
@media screen and (max-width: 1000px) {

    #drpBtn {
        background-color: transparent;
    }

    .pageNavigation.responsive {
        background: white;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        overflow-x: hidden;
        margin: 0;
        z-index: -1;
    }
    
    /* Each Main Navigation Item (Home, Get Started, etc.) */
    .pageNavigation.responsive .navItem {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: fit-content;
        width: 100%;
        list-style: none;
        user-select: none;
        position: block;
        margin: 30px 0 0 0;
    }

    /* Adds space at front and end of navigation */
    .pageNavigation .navItem:first-child {
        padding-top: calc((var(--navBarHeight) + var(--externalNavBarHeight))*1vh);    
    }
    .pageNavigation .navItem:last-child {
        padding-bottom: calc(var(--navBarHeight)*1vh);    
    }

    .pageNavigation.responsive .navItem a {
        display: flex;
        height: inherit;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        color: #ed225d;
        font-size: 1.5em;
        /* padding: 0 20px; */
        line-height: 1.2em;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    /* Dropdown Menus */
    .pageNavigation .dropdown{
        position: relative;
        border-top: none;
        display: block;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: fit-content;
        width: 100%;
        left: auto;
        min-height: 10px;
        padding: 10px 0 0 25px;
        /* background: rgb(225, 225, 225); */
    }
    .dropdownEntry{
        align-items: flex-start;
        width: 100%;
    }
    .dropdown a {
        justify-content: flex-start;
        align-items: flex-start;
        display: flex;
        font-size: 1.2em!important;
        /* padding: 5px 0; */
        text-align: left;
    }
    .innerNav:hover {
        color: rgb(155, 155, 155);
    }
    .dropdownContent {
        position: relative;
        display: block;
        height: fit-content;
        width: fit-content;
        list-style: none;
        margin: 0;
        text-align: left;
    }
    .dropdownEntry {
        display: flex;
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .dropdownText{
        display: none;
    }
    .dropdownTextDefault{
        display: none;
    }
    .pageName{
        display: none;
    }
    .mobileOnly {
        display: block;
    }
    .desktopOnly {
        display: none!important;
    }
  }