<footer>
    <div style="padding: 50px; text-align: center;">
        simply seph. all rights reserved.
        <br>
        <span style="font-size: 1.7vh;">but it's not like i own everything.</span>
        <br>
        <span style="font-size: 1.5vh;">then again i <i>did</i> make this website.</span>
        <br>
        <span style="font-size: 1.2vh;">so i guess it <i>is</i> reserved?</span>
        <br>
        <span style="font-size: 1vh;">wait, can i even do that?</span>
        <br>
        <span style="font-size: 0.7vh;">erm... if i can, then it is.</span>
        <br>
        <span style="font-size: 0.5vh;">anyway.. i'll stop now.</span>
    </div>
    <div style="padding: 50px; display: flex; flex-direction: column; justify-content: center;">
        <div style="text-align: center;">some more me stuff</div>
        <ul>
            <li><a href="https://github.com/jhongover9000">github</a></li>
            <li><a href="https://www.linkedin.com/in/-josephhong-/">linkedin</a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100009498226976">facebook</a></li>
            
        </ul>
    </div>
    <!-- <div style="padding: 50px;">
        simply seph. all rights reserved.
    </div> -->
</footer>