<!-- IM Assignment 5: simply seph. (Navigation Partial) -->
<!-- Joseph Hong -->
<!-- Description: this is the HTML for the navbar partial of the portfolio. It also contains the 
To Top button, as well as the JavaScript code for these. -->
<!-- ============================================================================================= -->
<!-- ============================================================================================= -->
<div id="navBar">
    <ul class="navList">
        <li class="navButton" id="home"><a href="/assignment5/homePage.html">Home</a></li>
        <li>|</li>
        <!-- Selects a Random Project. -->
        <li class="navButton"> <a id="explore" href="#">Explore</a></li>
        <li>|</li>
        <li class="navButton" id="projects">
            <a>Projects</a>   
            <ul class="dropdown">
                <li><a href="/assignment5/project0.html">moving forward.</a></li>
                <li><a href="/assignment5/project1.html">a love letter.</a></li>
                <li><a href="/assignment5/project2.html">hide and seek.</a></li>
                <li><a href="/assignment5/project3.html">221a jump street.</a></li>
            </ul>     
        </li>
        <li>|</li>
        <li class="navButton" id="about"><a href="/assignment5/aboutPage.html">About</a></li>
    </li>
</div>

<!-- To Top Button -->
<div id="toTop">
    <div><i class="arrow up"></i></div>
</div>

<script>
    $("#scrollDown").click(function(){
			const vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0)
			const vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0)
			window.scrollTo(0, 1.1*vh);
    });

    $(window).scroll(function(){
        if(document.documentElement.scrollTop > 0){
                const vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0)
                const vh = Math.max(document.documentElement.clientHeight || 0, window.innerHeight || 0)
                $("#navBar").css({"animation":"slideDown 1s forwards"});
                $("#toTop").css({"opacity":"1"});
                document.getElementById("navBar").style.height = "8vh";
                document.getElementById("navBar").style.boxShadow = "0 0 4px black";
            }
            else{
                $("#navBar").css({"animation":"slideUp 1s forwards"});
                $("#toTop").css({"opacity":"0"});
                document.getElementById("navBar").style.height = "10vh";
                document.getElementById("navBar").style.boxShadow = "0 0 2px black";
            }
    });

    // makes sure that random page is not the current page
    $(function(){
            var num = Math.floor(Math.random()*4);
            $("#explore").attr("href", "/assignment5/project"+ String(num)+".html");
        });
    

    document.addEventListener('mousemove', (event) => {
        if(document.documentElement.scrollTop == 0 && event.clientY < 100){
            $("#navBar").css({"animation":"slideDown 1s forwards"});
        }
        else if(document.documentElement.scrollTop == 0 && event.clientY > 300){
            $("#navBar").css({"animation":"slideUp 1s forwards"});
        }
    });

    $("#toTop").click(function(){
            window.scrollTo(0, 0);
    });
</script>