<footer>
    <div style="padding: 50px; text-align: center;">
        &#169;2021 Mind Over Matter.  All rights reserved.
    </div>
    <div style="padding: 50px; display: flex; flex-direction: column; justify-content: center;">
        <div style="text-align: center;">Find Us On</div>
        <ul>
            <li><a href="https://github.com/jhongover9000">github</a></li>
            <li><a href="https://www.linkedin.com/in/-josephhong-/">linkedin</a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100009498226976">facebook</a></li>
            
        </ul>
    </div>
    <!-- <div style="padding: 50px;">
        simply seph. all rights reserved.
    </div> -->
</footer>