
/* =========================================================================== */
/* =========================================================================== */
/* Initialization */
html {
    scroll-behavior: smooth;
}

a {
    color: rgb(33, 31, 31);
    user-select: none;
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
    min-height: 200vh;
    height: auto;
}

h2 {
    padding: 5vh 0 2vh;
    font-size: 6vh;
}

/* =========================================================================== */
/* =========================================================================== */
/* Navigation Bar */
#navBar {
    display: flex;
    position: fixed;
    flex-direction: row;
    top: calc(-1*20vh);
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    min-height: 70px;
    max-height: 100px;
    width: 100vw;
    z-index: 99;
    box-shadow: 0 0 4px black;
    transition: 1s;
    animation: none;
}
/* the animation on hover is really simple; it's just sliding up and down based on
mouse position */
@keyframes slideDown {
    100%{
        top: 0;
    }
}
@keyframes slideUp {
    0%{
        top: 0;
    }
    100%{
        top: calc(-1*20vh);
    }
}

#navBar div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
}

#navbar div a{
    display: flex;
    height: 80%;
    width: 80%;
}

#navBar div img {
    height: 60px;
    width: 60px;
}

#navBar .navList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 70%;
    padding: 0;
}

#navBar li {
    position: relative;
    font-weight: 400;
    color: rgb(213, 210, 210);
    display: inline-block;
    font-size: 1.5em;
    padding: 10px;
    display: block;
    padding: 1rem;
    text-decoration: none;
    transition-duration: 0.5s;
}
.navButton {
    width: 25%;
    text-align: center;
}
.navButton a {
    width: 100%;
    height: inherit;
}
.navButton a:hover {
    color: gray;
}

/* to top button */
#toTop{
    position: fixed;
    display: flex;
    justify-content: center;
    align-self: center;
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    border-radius: 100%;
    bottom: 3vh;
    right: 5vh;
    cursor: pointer;
    transition: 0.5s ease;
    border: 1px rgb(225, 225, 225) solid;
    opacity: 0;
}
/* =========================================================================== */
/* =========================================================================== */
/* "Loading" Screen */

#start-video-div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: whitesmoke;
    z-index: 100;
    transition: 2s;
}

#start-video {
    height: 100%;
    width: auto;
}

/* =========================================================================== */
/* =========================================================================== */
/* Page Objects */

#header{
    height: 90vh;
    display: block;
    margin: 0;
    padding-top: 10vh;
    background: rgba(0, 0, 0, 0.5);
}
#background1, #background2, #background3, #background4{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: block;
    margin: 0;
    background-image: url(img/img01.jpg);
    background-position: center;
    background-size: cover;
}
#background1{
    background-image: url(img/img01.jpg);
}
#background2{
    background-image: url(img/img02.jpg);
}
#background3{
    background-image: url(img/img03.jpg);
}
#background4{
    background-image: url(img/img04.jpg);
}
#header .row{
    margin-top: 50px;
    height: 70vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
}
#titleDiv1, #titleDiv2 {
    color: white;
    margin: 20px auto;
    background: none;
    user-select: none;
    font-size: 10vh; 
    text-align: center;
    font-weight: lighter;
    display: none;
}

#scrollDown {
    width: 30vw;
    height: auto;
    bottom: 5vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    cursor: pointer;
    animation: emphasisDown 7s infinite;
}
@keyframes emphasisDown {
    0%{
        opacity: 0.5;    }
    50%{
        opacity: 1;
        transform: translateY(5px);
    }
    100%{
        opacity: 0.5;
        transform: translateY(0px);
    }

}

/* arrow */
.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 10px;
  }
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.up {
    transform: rotate(225deg) translateY(-15px) translateX(-15px);
}

/* header text */
.container{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    z-index: 1;
}
.col {
    text-align: center;
    width: 100%;
}

.content {
    margin: 10vh auto 20vh;
    height: auto;
    width: 70%;
    padding: 0 20px;
}

.content h2 {
    margin: 10px auto;
    font-size: 3.5em;

}

.content p {
    margin: 5px auto;
    font-size: 2em;
    letter-spacing: 0.5px;
    line-height: 1.5em;
}

/* =========================================================================== */
/* =========================================================================== */
/* Footer */
footer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    min-height: 200px;
    height: 20vh;
    background-color: rgba(247, 247, 247, 0.653);
    bottom: 0;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer li {
    padding: 2px;
    list-style-type: none;
    text-align: center;
}
footer li a:hover{
    color: black;
}
